<h1>Mega nice search bar</h1>

<label>Your preferred programming language: </label>
<select>
	<option value="a">asp</option>
	<option value="c">c</option>
	<option value="cpp">c++</option>
	<option value="cf">coldfusion</option>
	<option value="g">groovy</option>
	<option value="h">haskell</option>
	<option value="j">java</option>
	<option value="js">javascript</option>
	<option value="p1">perl</option>
	<option value="p2">php</option>
	<option value="p3">python</option>
	<option value="r">ruby</option>
	<option value="s">scala</option>
</select>

<!--
<h1>Listing searches</h1>

<table>
<tr>
<th>Name</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @searches.each do |search| %>
<tr>
<td><%= search.name %></td>
<td><%= link_to 'Show', search %></td>
<td><%= link_to 'Edit', edit_search_path(search) %></td>
<td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
-->